<html>

<head>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Custom CSS-->
    <link rel="stylesheet" href="/css/main_styles.css">

    <!-- Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <nav class="blue darken-1">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">18BCB0082 - SQL Injection Attack</a>
        </div>
    </nav>